@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');

body {
  font-family: 'Gayathri', sans-serif;
  background: linear-gradient(90deg, rgba(115,27,177,1) 0%, rgba(255,243,248,1) 35%, rgba(126,196,210,1) 100%);
}

h1 {
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.2);
}

p {
  display: inline-block;
  font-family: 'Slabo 27px', serif;
  font-size: 1.5rem;
  padding: 0 5px;
  background-color: rgba(0, 0, 0, 0.1);

}

.caption {
  max-width: 60px;
  font-size: 1rem;
  font-weight: bold;
  background: none;
}

.content {
  max-width: 750px;
  margin: 0 auto;
}

.App {
  text-align: center;
}

.demo-buttons {
  max-width: 100%;
}

button {
  margin: 1rem;
}